html {
    scroll-behavior: smooth;
}
body {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333333;
    margin: 10px 0;
}
.container {
    /* padding: 10px 20px; */
    overflow-x: hidden;
}
p{
    text-align: justify;
    margin: 20px 0px;
    line-height: 30px;
    padding: 40px 90px;
}
#backToTheTopBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
    outline: none;
    background-color: white;
    border: 2px solid #333333;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    transition: .2s ease-in-out;
    transition-property: background-color, color; /*what the transition is going to be*/
}
#backToTheTopBtn:hover {
    background-color: #333333;
    color: white;
}
.socialMediaBtns {
    position: absolute;
    right: 20px;
}
#github {
    font-size: 34px;
    cursor: pointer;
    background-color: white;
    outline: none;
    border: 2px solid white;
    position: relative;
}
button a {
    color: black;
}
#codepen {
    font-size: 34px;
    cursor: pointer;
    background-color: white;
    border: 2px solid white;
}
.logo {
    width: 80px;
    position: absolute;
    top: 0px;
    left: 15px;
}
video {
    width: 100%;
    object-fit: cover;
	height: 550px;
}
.video-container {
    position: relative;
    top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
}
.video-container:before {
    content: '';
    position: absolute;
    height: 550px;
    width: 100%;
    background: rgba(0, 0, 0, 0.712);
}
.colorOverlay {
    position: absolute;
}
.video-container h1 {
	color: white;
	/* text-shadow: 8px 4px rgba(179, 179, 179, 0.4); */
	z-index: 1;
	padding: 10px;
	text-transform: uppercase;
    position: absolute;
    white-space: nowrap;
	border: none;
	overflow: hidden;
	margin: 0 auto;
	animation: typewriter 4500ms steps(40, end) 1 normal;
}
.p1 {
    z-index: 10;
}
/* @keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 50%;
	}
}
.typewritter-effect {
	border-right: 4px solid white;
	position: relative;
    right: -10px;
    top: 5px;
    height: 3.5vh;
	animation: blink-effect 1s steps(30, end) infinite;
}
@keyframes blink-effect {
	0% {
		border-right-color: 4px solid white;
	}
	100% {
		border-right-color: transparent;
	}
} */
.openingParagraph {
    position: absolute;
    color: #ffffff;
}
nav li {
    display: inline;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: black;
}
.stats li {
    display: inline;
    text-transform: uppercase;
}
.blue {
    color: rgba(0, 87, 114, 0.767);
}
.aboutme-title {
    margin: 8% 0;
}
.title, .destination-title, .top-destination-title, .post-title {
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin: 0;
    text-transform: uppercase;
    padding: 0 15px;
}
#icons-container {
    display: none;
    position: fixed;
    left: 1%;
    float: left;
    margin-top: 3%;
    top: 30%;
    background-color: rgb(144, 184, 196);
    padding: 5px;
}
.fa-pinterest {
    color: rgb(255, 0, 0);
}
.fa-linkedin {
    color: rgb(23, 70, 197);
}
.aboutme-section img {
    width: 100%;
    position: relative;
}
.map-container {
    margin-top: 13%;
    margin-left: -12%;
}
.map-markers, .map-notation {
    position: absolute;
}
.fa-map-marker-alt {
    color: rgb(28, 126, 255);
}
.fa-plane {
    color:rgb(255, 0, 0);
    transform: rotate(-90deg);
}
.fa-home {
    color:rgb(0, 122, 37);
}
.d1 {
    text-align: center;
}
.image-slide {
    display: flex;
    width: 100%;
    padding: 10% 6%;
    box-sizing: border-box;
    height: 100vh;
} 
.box {
    flex: 1;
    overflow: hidden;
    transition: .6s;
    margin: 0 1%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
} 
.box > img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
}
  
.box > span {
    font-size: 20px;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    text-transform: uppercase;
}
.box:hover { 
    flex: 1 1 20%; 
}
.box:hover > img {
    width: 100%;
    height: 100%;
  }
@media screen and (min-width: 325px){
    p {
        font-size: 14px;
    }
    #backToTheTopBtn {
        font-size: 28px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
    }
    .logo {
        width: 55px;
        top: 5px;
        left: 5px;
    }
    .socialMediaBtns {
        top: 20px;
        right: 5px;
    }
    #github {
        font-size: 24px;
        left: 10px;
    }
    #codepen {
        font-size: 24px;
    }
    nav li {
        font-size: 15px;
        padding: 4px;
    }
    nav ul {
        margin-right: 60px;
    }
    h1 {
        font-size: 28px;
        top: 36%;
        left: 22%;
    }
    .openingParagraph {
        top: 50%;
        left: 22%;
    }
    .blue {
        font-size: 20px;
        padding: 2px;
    }
    .stats {
        font-size: 14px;
    }
    .stats li {
        padding: 0px;
        position: relative;
        left: -15px;
    }
    /* .aboutme-container-mobile {
        padding-top: 30px;
    }
    .portrait-container-mobile {
        width: 35%;
    }
    .p1 {
        width: 200px;
        margin-top: -161%;
        margin-left: 38%;
    }
    .aboutme-container {
        display: none;
    } */
    /* .aboutme-title {
        margin: 15% 0;
    } */
    hr {
        width: 300px;
    }
    .aboutme-title {
        margin: 10% 0;
    }
    .title {
        margin-top: -6%;
        margin-left: 38%;
        font-size: 20px;
    }
    .destination-title {
        margin-top: -6%;
        margin-left: 36%;
        font-size: 20px;
    }
    .aboutme-section {
        margin-top: 15%;
    }
    .aboutme-section img {
        width: 50%;
        left: -2%;
        margin-top: 5%;
    }
    .p1 {
        text-align: center;

    }
    #icons-container {
        margin-top: 18%;
        font-size: 26px;
    }
}
@media screen and (min-width: 768px) {
    p {
        font-size: 16px;
    }
    #backToTheTopBtn {
        font-size: 30px;
        width: 45px;
        height: 45px;
        border: none;
        background-color: transparent;
    }
    h1 {
        font-size: 38px;
        left: 30%;
    }
    .openingParagraph {
        font-size: 18px;
        left: 33%;
    }
    .logo {
        width: 70px;
        top: -4px;
        left: 5px;
    }
    .socialMediaBtns {
        top: 8px;
    }
    #github {
        font-size: 28px;
        left: 10px;
    }
    #codepen {
        font-size: 28px;
    }
    nav li {
        font-size: 18px;
        padding: 20px;
    }
    nav ul {
        margin-right: 50px;
        margin-top: 5px;
    }
    .blue {
        font-size: 32px;
        padding: 8px;
    }
    .stats li {
        padding: 40px;
    }
    .stats {
        font-size: 20px;
    }
    hr {
        width: 720px;
    }
    .aboutme-title {
        margin-top: 15%;
    }
    .destination-container {
        margin-top: 40%;
    }
    .destination-title {
        margin-top: -3.5%;
        margin-left: 40%;
        font-size: 28px;
    }
    .title {
        margin-top: -3.5%;
        margin-left: 42%;
        font-size: 28px;
    }
    .aboutme-section {
        margin-top: 1%;
    }
    .aboutme-section img {
        width: 60%;
        left: 0%;
        margin-top: 5%;
    }
    .p1 {
        text-align: center;
        font-size: 18px;
    }
    #icons-container {
        margin-top: 17%;
        font-size: 30px;
    }
}
@media screen and (min-width: 1024px) { 
    p {
        font-size: 18px;
        padding: 60px 130px;
    }
    #backToTheTopBtn {
        font-size: 30px;
        width: 45px;
        height: 45px;
    }
    h1 {
        font-size: 50px;
        left: 32%;
        top: 40%;
    }
    .openingParagraph {
        font-size: 20px;
        top: 55%;
        left: 37.5%;
    }
    .logo {
        width: 80px;
        top: -4px;
        left: 5px;
    }
    .socialMediaBtns {
        top: 15px;
        right: 2px;
    }
    #github {
        font-size: 28px;
        left: 0px;
    }
    #codepen {
        font-size: 28px;
    }
    nav ul {
        margin-right: 0px;
        margin-top: 5px;
    }
    nav li {
        font-size: 22px;
        padding: 40px;
    }
    .aboutme:hover::after {
        content: "";
        position: absolute;
        left: 282px;
        top: 50px;
        border: 1px solid black;
        width: 90px;
      }
    .destinations:hover::after {
        content: "";
        position: absolute;
        left: 445px;
        top: 50px;
        border: 1px solid black;
        width: 110px;
    }
    .posts:hover::after {
        content: "";
        position: absolute;
        left: 632px;
        top: 50px;
        border: 1px solid black;
        width: 55px;
    }
    .gallery:hover::after {
        content: "";
        position: absolute;
        left: 762px;
        top: 50px;
        border: 1px solid black;
        width: 68px;
    }
    .blue {
        font-size: 38px;
        padding: 8px;
    }
    .stats li {
        padding: 40px;
    }
    .stats {
        font-size: 22px;
    }
    hr {
        width: 600px;
    }
    .title {
        margin-top: -2.5%;
        margin-left: 43%;
        font-size: 32px;
    }
    .destination-title {
        margin-top: -2.5%;
        margin-left: 41%;
        font-size: 32px;
    }
    .destinations-container {
        margin-top: 12%;
    }
    .aboutme-section {
        margin-top: -3%;
    }
    .aboutme-section img {
        width: 38%;
        left: -22%;
        margin-top: 5%;
    }
    .p1 {
        text-align: center;
        font-size: 22px;
        width: 380px;
        margin-left: 53%;
        margin-top: -29%;
        line-height: 40px;
        border: 1px solid rgba(0, 87, 114, 0.288);
        padding: 26px;
    }
    #icons-container {
        margin-top: 7%;
        font-size: 36px;
    }
}
@media screen and (min-width: 1280px) { /*1280px macbook air*/
    p {
        font-size: 20px;
    }
    #backToTheTopBtn {
        font-size: 30px;
        width: 45px;
        height: 45px;
        /* border: 2px solid #333333b2; */
    }
    h1 {
        font-size: 50px;
        left: 35%;
        top: 40%;
    }
    .openingParagraph {
        font-size: 20px;
        top: 55%;
        left: 38%;
    }
    .logo {
        width: 80px;
        top: -4px;
        left: 5px;
    }
    .socialMediaBtns {
        top: 15px;
        right: 2px;
    }
    #github {
        font-size: 28px;
        left: 0px;
    }
    #codepen {
        font-size: 28px;
    }
    nav ul {
        margin-right: 0px;
        margin-top: 5px;
    }
    nav li {
        font-size: 22px;
        padding: 40px;
    }
    .aboutme:hover::after {
        content: "";
        position: absolute;
        left: 463px;
        top: 50px;
        border: 1px solid black;
        width: 90px;
      }
    .destinations:hover::after {
        content: "";
        position: absolute;
        left: 627px;
        top: 50px;
        border: 1px solid black;
        width: 110px;
    }
    .posts:hover::after {
        content: "";
        position: absolute;
        left: 813px;
        top: 50px;
        border: 1px solid black;
        width: 55px;
    }
    .gallery:hover::after {
        content: "";
        position: absolute;
        left: 943px;
        top: 50px;
        border: 1px solid black;
        width: 68px;
    }
    /* video {
        object-position: 140% 90%; 
        for portsmouth video
    } */
    .blue {
        font-size: 40px;
        padding: 8px;
    }
    .stats li {
        padding: 40px;
    }
    .stats {
        margin-top: 4%;
        font-size: 24px;
    }
    .aboutme-title {
        margin-top: 10%;
    }
    hr {
        width: 1180px;
    }
    .destination-title {
        margin-top: -2%;
        margin-left: 42%;
        font-size: 32px;
    }
    .title {
        margin-top: -2%;
        margin-left: 43%;
        font-size: 32px;
    }
    .aboutme-section {
        margin-top: 0%;
        margin-bottom: 15%;
    }
    .aboutme-section img {
        width: 30%;
        left: -20%;
        margin-top: 1%;
    }
    .p1 {
        text-align: center;
        font-size: 22px;
        width: 480px;
        margin-left: 55%;
        margin-top: -19%;
        line-height: 40px;
        border: 1px solid rgba(0, 87, 114, 0.288);
        padding: 26px;
    }
    #icons-container {
        margin-top: 5%;
        font-size: 36px;
    }
}
@media screen and (min-width: 1440px) { /*1280px macbook air*/
    p {
        font-size: 20px;
    }
    #backToTheTopBtn {
        font-size: 30px;
        width: 45px;
        height: 45px;
        /* border: 2px solid #333333b2; */
    }
    h1 {
        font-size: 50px;
        left: 35%;
        top: 40%;
    }
    .openingParagraph {
        font-size: 20px;
        top: 55%;
        left: 38%;
    }
    .logo {
        width: 80px;
        top: -4px;
        left: 5px;
    }
    .socialMediaBtns {
        top: 15px;
        right: 2px;
    }
    #github {
        font-size: 28px;
        left: 0px;
    }
    #codepen {
        font-size: 28px;
    }
    nav ul {
        margin-right: 0px;
        margin-top: 5px;
    }
    nav li {
        font-size: 22px;
        padding: 40px;
    }
    .aboutme:hover::after {
        content: "";
        position: absolute;
        left: 463px;
        top: 50px;
        border: 1px solid black;
        width: 90px;
      }
    .destinations:hover::after {
        content: "";
        position: absolute;
        left: 627px;
        top: 50px;
        border: 1px solid black;
        width: 110px;
    }
    .posts:hover::after {
        content: "";
        position: absolute;
        left: 811px;
        top: 50px;
        border: 1px solid black;
        width: 55px;
    }
    .gallery:hover::after {
        content: "";
        position: absolute;
        left: 941px;
        top: 50px;
        border: 1px solid black;
        width: 68px;
    }
    /* video {
        object-position: 140% 90%; 
        for portsmouth video
    } */
    .blue {
        font-size: 40px;
        padding: 8px;
    }
    .stats li {
        padding: 40px;
    }
    .stats {
        margin-top: 4%;
        font-size: 24px;
    }
    .aboutme-title {
        margin-top: 10%;
    }
    hr {
        width: 1180px;
    }
    .title {
        margin-top: -2%;
        margin-left: 43%;
        font-size: 32px;
    }
    .destination-title {
        margin-top: -2%;
        margin-left: 42%;
        font-size: 32px;
    }
    .top-destination-title {
        margin-top: -2%;
        margin-left: 41%;
        font-size: 32px;
    }
    .post-title {
        margin-top: -2%;
        margin-left: 45%;
        font-size: 32px;
    }
    .aboutme-section {
        margin-top: 0%;
        margin-bottom: 15%;
    }
    .aboutme-section img {
        width: 30%;
        left: -20%;
        margin-top: 1%;
    }
    .p1 {
        text-align: center;
        font-size: 22px;
        width: 480px;
        margin-left: 55%;
        margin-top: -19%;
        line-height: 40px;
        border: 1px solid rgba(0, 87, 114, 0.288);
        padding: 26px;
    }
    #icons-container {
        margin-top: 5%;
        font-size: 36px;
    }
    .map-container {
        margin-top: 13%;
        margin-left: -12%;
    }
    .map {
        width: 950px;
        height: 480px;   
    }
    .map-key {
        margin-top: 5%;
    }
    .map-markers {
        font-size: 26px;
        left: 79%;
        margin-top: -26%;
    }
    .map-notation {
        left: 85%;
        font-size: 22px;
        margin-top: -26%;
        line-height: 36px;
    }
}
.btnIntro {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnIntro;
}
@keyframes btnIntro {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.btnEnd {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnEnd;
}
@keyframes btnEnd {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
.sidebarIntro {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: sidebarIntro;
}
@keyframes sidebarIntro {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transition: .2s ease-in-out;
    }
}
.sidebarEnd {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: sidebarEnd;
}
@keyframes sidebarEnd {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;;
    }
}